CompileFlags:
  CompilationDatabase: build
  Add:
    - "-I/mnt/VMDrive/Programming Projects/True Random Encryption (TRE)/include"
    - "-I/mnt/VMDrive/Programming Projects/True Random Encryption (TRE)/src"
    - "-std=c++17"
  Remove:
    - "-W*"
    - "-mrdrnd"
