CompileFlags:
  CompilationDatabase: build
  Add:
    - "-I/mnt/VMDrive/Programming Projects/True Random Encryption (TRE)/include"
    - "-I/mnt/VMDrive/Programming Projects/True Random Encryption (TRE)/src"
    - "-I/usr/include/qt6"
    - "-I/usr/include/qt6/QtCore"
    - "-I/usr/include/qt6/QtGui"
    - "-I/usr/include/qt6/QtWidgets"
    - "-I/usr/include/qt6/QtSvg"
    - "-std=c++17"
  Remove:
    - "-W*"
    - "-mrdrnd"
    - "-mno-direct-extern-access"
